.listOfGifs {
  min-height: 100vh;
  padding: 1rem 0;
}

.my-masonry-grid {
  display: -webkit-box;
  padding: 0 1rem;
  -webkit-column-break-inside: avoid;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
}

.my-masonry-grid_column {
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
}